@model Sunnet_NBFC.Models.clsLeadGenerationMaster


<div class="form-group" style="margin-top:20px;">
    <div class="col-md-12">
        <h5> Personal Loan Details</h5>
    </div>
    <hr>

    <div class="row">

        <div class="col-md-3">
            <label for="exampleInputEmail1">
                Purpose of Loan
            </label>
            @Html.TextBoxFor(model => model.SpouseMobileNo, new
       {
           @class = "form-control",
           @placeholder = "Purpose of Loan",
           @name = "PurposeofLoan",
           @id = "LoanPurpose",
           @type = "text"


       })
        </div>
    </div>
    


    

</div>

    

 




