@model Sunnet_NBFC.Models.clsLeadGenerationMaster

@{ ViewBag.Title = "Lead Generation";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Lead Generation</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Lead Generation</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <h5> Product Details</h5>
                            </div>
                            <hr>
                            <div class="row">

                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">Main Product</label>

                                    @Html.DropDownListFor(model => model.MainProductId, ViewBag.MainProductList as SelectList, "- Select Main Product- ",
                                   new { @class = "form-control", @id = "MainProductId" })


                                </div>

                                <div class="col-md-6">
                                    <label for="exampleInputEmail1">Sub Product</label>
                                    @Html.DropDownListFor(model => model.PresentCityId,
                                       new SelectList(Enumerable.Empty<SelectListItem>(), "ProdId", "ProductName"),
                                       "- Select Product -", new { @class = "form-control", @id = "ProductId" })

                                    @Html.HiddenFor(model => model.Hdn_type, new { @class = "form-control", @id = "hdn_type" })
                                </div>


                            </div>

                            <div>
                                @{
                                    Html.RenderPartial("_AddCustomerDetails");
                                }
                            </div>


                            <div style="display:none" id="co_applicant_div">
                                @{
                                    Html.RenderPartial("_AddCo_Applicant_Details");
                                }
                            </div>
                            <div class="container-fluid"  id="co_guranter_div">
                                @{
                                    Html.RenderPartial("_AddGuranterDetails");
                                }
                            </div>

                            <div>
                                @{
                                    Html.RenderPartial("_AddAdditionalDetails");
                                }
                            </div>
                            <div class="card-footer" style="margin-top:10px;">
                                <button type="submit" class="btn btn-primary" onclick="ValidationChk();"> Submit </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    

</section>


<script src="~/plugins/jquery/jquery.min.js"></script>
<script src="~/plugins/jquery/jquery.validate.min.js"></script>
<script src="~/plugins/jquery/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/CustomJS/LeadGeneration.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
            scrollX: true,
        });
    });
    </script>

